<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../components/navbar/header.css">
    <link rel="stylesheet" href="../components/footer/footer.css">
    <link rel="stylesheet" href="../pages/frontpage/frontpage.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%%TAB_TITLE%%</title>
</head>
<body>
    <header id="header">
        <div id="logo">Portfolio</div>
            <div id="nav">
                <ul id="list">
                    <li><a href="/">Home</a></li>
                    <li><a href="/articles/REST">Rest API</a></li>
                    <li><a href="/articles/callback">Callback functions</a></li>
                    <li><a href="/article/Crud">CRUD</a></li>
                    <li><a href="">LOGIN</a></li>
                </ul>
            </div>
        </div>
    </header>
<main>