<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../components/navbar/header.css">
    <link rel="stylesheet" href="../components/footer/footer.css">
    <link rel="stylesheet" href="../pages/frontpage/frontpage.css">
    <link rel="stylesheet" href="../pages/article/Uge_35/U35.css">
    <link rel="stylesheet" href="../pages/login/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%%TAB_TITLE%%</title>
</head>
<body>
    <header id="header"><a href="/"><div id="logo"><h1>Portfolio</h1></div></a>
        
            <div id="nav">
                <ul id="list">
                    <li><a href="/login">Admin page</a></li>
                    <li><a href="/uge41">Lesson 7</a></li>  
                    <li><a href="/uge40">Lesson 6</a></li>
                    <li><a href="/uge39">Lesson 5</a></li>
                    <li><a href="/uge38">Lesson 4</a></li>
                    <li><a href="/uge37">Lesson 3</a></li>
                    <li><a href="/uge36">Lesson 2</a></li>
                    <li><a href="/uge35">Lesson 1</a></li>
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
        </div>
    </header>
<main>
<script src="./components/navbar/nav.js"></script>