<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../components/navbar/header.css">
    <link rel="stylesheet" href="../components/footer/footer.css">
    <link rel="stylesheet" href="../pages/frontpage/frontpage.css">
    <link rel="stylesheet" href="../pages/article/Uge_35/U35.css">
    <link rel="stylesheet" href="../pages/login/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%%TAB_TITLE%%</title>
</head>
<body>
    <header id="header"><a href="/"><div id="logo"><h1>Portfolio</h1></div></a>
        
            <div id="nav">
                <ul id="list">
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/uge41">Uge 41</a></li>  
                    <li><a href="/uge40">Uge 40</a></li>
                    <li><a href="/uge39">Uge 39</a></li>
                    <li><a href="/uge38">Uge 38</a></li>
                    <li><a href="/uge37">Uge 37</a></li>
                    <li><a href="/uge36">Uge 36</a></li>
                    <li><a href="/uge35">Uge 35</a></li>
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
        </div>
    </header>
<main>
<script src="./components/navbar/nav.js"></script>